<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings></appSettings>
  <connectionStrings>
   

      <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="data source=.\SQLEXPRESS;initial catalog=RayONS;integrated security=SSPI;" />-->
      <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="***" />
      <add name="RayONSEntities" connectionString="metadata=res://*/RayONS.csdl|res://*/RayONS.ssdl|res://*/RayONS.msl;provider=System.Data.SqlClient;provider connection string=&quot;***&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
