@model RayONS.DAL.Category

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<fieldset>
    <legend>Категория</legend>

    <div class="display-label">Име на категорията</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id=Model.CategoryId }) |
    @Html.ActionLink("Към списъка", "Index")
</p>
